<html>
    <head>
        <meta charset="utf-8">
        <title>青山ビジネスパートナーズ合同会社</title>
        <meta name="description" content="主にサービス業界企業のパートナー。経営者の参謀として、経営リソースの「ヒキダスアドバイザー」として、会社・従業員・お客様を笑顔にするための現場力向上・売上づくりに貢献します。本業を軸に、将来の事業展開の支援もお手伝い致します。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./main.css" rel="stylesheet">

        <!-- <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-G5Z26TLTZN&amp;cx=c&amp;_slc=1"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_env.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&amp;aa=1" charset="utf-8"></script><style id="fpbf_ac93d8111_css">@font-face { font-family: 'fpbf_ac93d8111'; font-display: swap; src: url('https://s3-ap-northeast-1.amazonaws.com/fp-bf/3d4c80e6') format('woff'); }</style>
        <link rel="icon" href="https://cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/6459eb00866ae/original.jpg">

        <meta property="og:image" content="https://cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/ogp/179725.png">
        <meta property="og:url" content="https://peraichi.com/landing_pages/view/aoyamabusinesspartners20171">
        <meta property="og:title" content="青山ビジネスパートナーズ">
        <meta property="og:site_name" content="青山ビジネスパートナーズ">
        <meta property="og:description" content="クリーニング企業のパートナー。経営者の参謀として、アドバイザーとして業績に貢献します"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1763450653"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1763450653"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1763450958"></script>
        <meta name="google-site-verification" content="bjam-NxQCbBLGfY1B67cD0Q3G8Y9S6_PP2h3WOkwR70">

        <link rel="canonical" href="https://peraichi.com/landing_pages/view/aoyamabusinesspartners20171/"> -->
    </head>
    <body class="theme-salon template-theme-default fp_default is-not-available-on-template-theme" data-template-name="accountingfirm" style="overflow: auto; padding-top: 0px;" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="false">
        <div class="top-page header" data-section-id="accountingfirm/s_accountingfirm_header" data-section-name="ヘッダー（ロゴ画像+ナビゲーション）" id="section-1" data-optional-block-settings-key="0">
            <div class="m_navigation" data-pera1-type="navigation" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); text-align: right;">
                <div class="navigationHeader">
                
                <div class="btn_navigationToggle"><i></i></div>
                </div>
                <ul class="m_navigationMenu font-size-22px" data-textcolor="#333" style="color: rgb(51, 51, 51);">
                    <li>
                        <a href="#section-6" target="_self">会社情報</a>
                    </li>
                    <li>
                        <a href="#section-10" target="_self">業務内容</a>
                    </li>
                    <li>
                        <a href="#section-13" target="_self">ご契約までの流れ</a>
                    </li>
                    <li>
                        <a href="#section-16" target="_self">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
                
        <div class="pera1-section section s_hero salon-s_hero-txtleft" data-section-id="accountingfirm/s_accountingfirm_hero" data-section-name="トップ（画像+左テキスト）" id="section-2" data-optional-block-settings-key="1">
            <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d9276db394ed/original.JPG&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="0" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d9276db394ed/original.JPG')">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 salon-hero-txtleft">
                            <div class="salon-hero-txtleft-txt">
                                <div class="e_txt pera1-editable pera1-removable font-size-36px"><span style="color: rgb(185, 148, 0);" data-mce-style="color: #b99400;"><strong><span style="color: rgb(0, 23, 140);" data-mce-style="color: #00178c;">青山ビジネスパートナーズ合同会社</span></strong></span></div>
                                <div class="e_txt pera1-editable pera1-removable font-size-16px"><span style="color: rgb(0, 23, 140);" data-mce-style="color: #00178c;"><strong>AOYAMA BUSINESS PARTNERS,INC.</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section salon-s_social padding_tb40" data-section-id="accountingfirm/s_accountingfirm_banners" data-section-name="バナー" id="section-3" data-optional-block-settings-key="2">
            <div class="container-fluid">
                <div class="row">
                    <div class="salon-banner">
                        <div class="cta-buttons">
                        <a href="#for-company" class="cta-card cta-company">
                            <span class="cta-icon" aria-hidden="true">🏢</span>
                            <span class="cta-text">企業経営者の方</span>
                            <span class="cta-arrow">▶</span>
                        </a>

                        <a href="#for-owner" class="cta-card cta-owner">
                            <span class="cta-icon" aria-hidden="true">🏠</span>
                            <span class="cta-text">個人事業主の方</span>
                            <span class="cta-arrow">▶</span>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section padding_tb0 salon-s_btnbar-gradient" data-section-id="accountingfirm/s_accountingfirm_btn_background" data-section-name="ボタン（背景画像）" id="section-4" data-optional-block-settings-key="3">
            <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a10d24b6/original.JPG&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="1" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a10d24b6/original.JPG')">
                <div class="salon-gradient_mask">
                    <div class="container-fluid salon-btnbar">
                        <div class="row">
                            <div class="col-xs-12">
                                <div data-custom-pc-fontsize="28px" class="e_txt pera1-editable pera1-removable"><div><span style="color: #f7c90f;"><br><span style="color: #f27e18;">引</span></span>きだす、<span style="color: #f27e18;">効</span>きだす、<span style="color: #f27e18;">動</span>きだす　だから<span style="color: #f27e18;">変</span>われる！<br>コロナ禍を生き残り、経営継続する企業・事業者様へ<br>まだまだ厳しい環境下ですが、それぞれの業種業態で打開策は<br>残されています。これらに早く気付き、課題への取り組みを<br>実行するお手伝いをさせていただきます。ぜひ、<br>この機会にお問い合わせください<br><br></div></div>
                                <div class="e_btn"><a class="btn pera1-editable pera1-removable" href="#section-9" target="_self">年中無休</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s_card-topImg-1col section pera1-section" data-section-id="accountingfirm/s_accountingfirm_point" data-section-name="セールスポイント" id="section-5" data-optional-block-settings-key="4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m_card-topImg">
                            <h3 class="e_head text-center pera1-editable pera1-removable font-size-24px"><div style="text-align: left;" data-mce-style="text-align: left;">　　クリーニング事業会社を中心に、サービス接客業・飲食店業の経営者と共に事業の<br>　　パートナーとして、経営者のお困りごとの解決と業績向上に貢献します！</div><div style="text-align: left;" data-mce-style="text-align: left;">　　・経営者のパートナーとして、現場実務に携わります。</div><div style="text-align: left;" data-mce-style="text-align: left;">　　・アパレル業界11年、サービス接客業界17年の経験。販促実務もお任せください。</div><div style="text-align: left;" data-mce-style="text-align: left;">　　・人材育成業務にとどまらず、業績に貢献するよう総合的にサポートします。</div><div style="text-align: left;" data-mce-style="text-align: left;">　　　　　企業規模を問わずサポートしております。一度、ご相談ください。</div></h3>
                            <div data-custom-pc-fontsize="18px" class="e_txt pera1-editable pera1-removable"><div><span style="color: #445cd5;"><span style="color: #e8412e;"><strong>＜トピックス＞<br></strong><span style="color: #000000;">2025.10 &nbsp;クリーニング業界初　第14回「永久無料クリーニング」（商標登録済）プロデュースイベント開催<br>2025.3 &nbsp;クリーニング業界初　第13回「永久無料クリーニング」（商標登録済）プロデュースイベント開催<strong><br></strong>2025.2 &nbsp;クリーニングショップの省力化プロジェクト　ご相談受付中</span><span style="background-color: #ffffff; color: #000000;"><strong><br></strong></span><span style="color: #000000;">2024.3. クリーニング業界初　第12回「永久無料クリーニング」（商標登録済）プロデュースイベント開催<br></span></span><span style="color: #00178c;"><span style="color: #000000;"><br><br></span></span></span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section salon-s_catch" data-section-id="accountingfirm/s_accountingfirm_sectiontitle_bg" data-section-name="セクションタイトル（背景画像）" id="section-6" data-optional-block-settings-key="5">
            <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" );="" background-repeat:="" no-repeat;="" background-position:="" center="" center;="" background-size:="" cover;="" data-bg-key="2" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg')">
                <div class="salon-gradient_mask">
                    <div class="container-fluid salon-catch">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pera1-removable">
                                    <div class="e_txt pera1-editable font-size-32px">青山ビジネスパートナーズ合同会社について</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s_card-rightImg-middle section pera1-section" data-section-id="accountingfirm/s_accountingfirm_message" data-section-name="メッセージ" id="section-7" data-optional-block-settings-key="6">
            <div class="container-fluid">
                <h2 class="e_head pera1-editable pera1-removable font-size-24px">代表挨拶</h2>
                <div class="row">
                    <div class="col-sm-12 mt-20px">
                        <div class="m_card-rightImg-middle">
                            <div class="card-rightImg-middle_ctt">
                                <h3 class="e_head pera1-editable pera1-removable font-size-20px">お客様から本当に必要とされる存在に</h3>
                                <div class="e_txt pera1-editable pera1-removable font-size-16px">私はお客様目線のサービスを心掛けております。お客様のビジネスを全力サポートし、お客様にとってかけがえのないパートナーとして信頼頂けるよう日々業務に励んでおります。一社一社、一人一人にカスタマイズ、貴社のスタイルに合わせて、言葉だけでなく、現場で共に「行動」し、組織に属するスタッフと自ら動き出すチームを作ります。</div>
                                <p class="e_btn"></p>
                            </div>
                            <p class="e_img pera1-removable"><img class="img-full pera1-editable" src="//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/1504266959/original.jpg"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_table pera1-section" data-section-id="accountingfirm/s_accountingfirm_profile" data-section-name="会社概要" id="section-20" data-optional-block-settings-key="7">
            <div class="container-fluid">
                <h2 class="e_head text-center pera1-editable pera1-removable font-size-24px">会社概要</h2>
                <div class="row">
                <div class="col-sm-12 mt-20px">
                    <table class="m_table table">
                    <tbody>
                        <tr class="pera1-removable">
                        <td class="pera1-editable font-size-16px">社名</td>
                        <td class="pera1-editable font-size-16px">青山ビジネスパートナーズ合同会社</td>
                        </tr>
                        <tr class="pera1-multiple pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">所在地</td>
                        <td class="pera1-editable font-size-16px"><div>&nbsp;大阪府富田林市</div></td>
                        </tr>
                        <tr class="pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">電話番号</td>
                        <td class="pera1-editable font-size-16px">090-5124-3020</td>
                        </tr>
                        <tr class="pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">設立</td>
                        <td class="pera1-editable font-size-16px">創業 2017年1月&nbsp; 法人設立 2022年5月</td>
                        </tr>
                        
                        <tr class="pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">代表者</td>
                        <td class="pera1-editable font-size-16px"><div>青山達也　　　　企業業績に貢献する「<span style="color: #e8412e;">ヒキダス・アドバイザー</span>」<br>　　　　　　　　繊維製品品質管理士（TES）,２級心理カウンセラー<br>　　　　　　　　社会福祉法人こども園・保育園　監事<br>　　　　　　　　クラウドPOSシステム会社営業推進アドバイザー<br>　　　　　　　　社外取締役・顧問アドバイザー（クリーニング会社・<br>　　　　　　　　ボディメンテナンスサロン・飲食業ほか）<br>　　　　　　　　大阪府消費生活センター所管「消費のサポーター」<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 少年野球チーム チームディレクターなど</div></td>
                        </tr>
                        
                        <tr class="pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">事業内容</td>
                        <td class="pera1-editable font-size-16px"><div>　激変の時代を生き残り、さらに成長のために共に真剣に取り組む企業・組織のサポートをします。<br>・経営者サポート、人材育成、組織づくり、従業員研修、など経営コンサルティング事業<br>・新規事業（第２創業）コンサルティング事業<br>・各種セミナー事業（マーケティング・人材育成）<br>・カウンセリング事業　その他</div></td>
                        </tr><tr class="pera1-removable" data-elem-name="table">
                        <td class="pera1-editable font-size-16px">e-mail</td>
                        <td class="pera1-editable font-size-16px">a0bizpartners.inc@gmail.com</td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section salon-s_catch" data-section-id="accountingfirm/s_accountingfirm_sectiontitle_bg" data-section-name="セクションタイトル（背景画像）" id="section-10" data-optional-block-settings-key="8">
                <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" );="" background-repeat:="" no-repeat;="" background-position:="" center="" center;="" background-size:="" cover;="" data-bg-key="3" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg')">
                    <div class="salon-gradient_mask">
                    <div class="container-fluid salon-catch">
                        <div class="row">
                        <div class="col-xs-12">
                            <div class="pera1-removable">
                            <div class="e_txt pera1-editable font-size-32px">業務内容</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="pera1-section section salon-s_catalog" data-section-id="accountingfirm/s_accountingfirm_gyomu" data-section-name="業務内容" id="section-11" data-optional-block-settings-key="9">
                <div class="container-fluid">
                    <h2 class="e_head  pera1-editable pera1-removable font-size-24px">企業経営者の方</h2>
                    <div class="row">
                    <div class="pera1-removable pera1-multiple col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5b592a7d1b7e0/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">セミナー・研修</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">個人個人が成果を出せるセミナーや、テーマ別の研修を行い、会社業績に貢献します。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_073/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">販促ツール・資料作成</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">作成の受託はもちろん、貴社に合ったツールの作成・必要資料の提案を行います。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5c9a18df8ca90/original.JPG"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">人材育成</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">マンツーマンでのカウンセリング手法を用いた指導から、グループ・店舗ごとに、マッチした効果のある指導・育成を丁寧に行います。<br></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/hojin_4.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">第２創業支援</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">託児所事業や関連・非関連の事業の第２創業の準備など、「近未来の自社のあり方」をお考えの貴社に合わせてパートナーとして活動します。最近、活発になりつつある「M&amp;A」についても支援いたします。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/hojin_5.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">事業コンサルティング</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">クラウド・本部システムなど、貴社の売上状況からから、貴社の指数情報分析を行い、具体策の提案を行います。キャッシュレス化に向け、貴社の導入オペレーション、環境づくりを支援します。また、</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352b2011c2a/original.JPG"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">求人対策・イベント開催など</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">人手不足の解消に向け、オリジナルの告知物制作や求人アプローチ手法について、経費を抑えた手法など、貴社のニーズに合わせたご提案や対策などもお任せください。また、イベントの開催を通じて顧客と従業員満足の両立なども実施。<br></div>
                            </div>
                        </div>
                        </div>
                    </div><div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_089/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">新規事業の取り組み</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">貴社の規模に合わせて、また数社で共有できる新規事業の取り組みを行います。ウィズコロナの状況から「新しい生活様式」に対応した「強い」企業体質を作り上げます。</div>
                            </div>
                        </div>
                        </div>
                    </div><div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu" >
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_097/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">MADE IN JAPAN 製品の開発・販売<br></h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">素材から「日本産」にこだわるプロダクツを開発・販売していきます。様々な業種業界の「FROM　JAPAN」ものを取り上げ、BtoBで<br>これからの社会の成長に貢献します。クラウドファンディングの活用も行います。</div>
                            </div>
                        </div>
                        </div>
                    </div><div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5b592a7d1b7e0/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">助成金・補助金診断　受給支援</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">会社の状況に応じて、どんな助成金がどのくらい受給できるのか、無料診断いたします。その場で、おおよその助成金金額がわかります。<br>実際に受給するためのお手伝いも行います。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                </div>
                <div class="pera1-section section salon-s_catalog" data-section-id="accountingfirm/s_accountingfirm_gyomu" data-section-name="業務内容" id="section-12" data-optional-block-settings-key="10">
                <div class="container-fluid">
                    <h2 class="e_head  pera1-editable pera1-removable font-size-24px">個人事業主の方</h2>
                    <div class="row">
                    <div class="pera1-removable pera1-multiple col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_075/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">経営者のご支援・サポート</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">事業運営全般のご支援、クリーニング業の維持・成長に貢献します。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_072/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">販促ツール・資料作成</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt  pera1-editable font-size-14px">作成の受託はもちろん、店舗に合ったツールの作成を支援いたします。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_059/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">コンサルティング</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">今後の事業見通しや、施策など経営資源を有効活用できるようサポートします。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pera1-removable col-sm-6 salon-2col-fix" data-elem-name="gyomu">
                        <div class="m_card-leftImg row">
                        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/library/pakutaso/pakutaso_078/original.jpg"></div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <h3 class="e_head text-bold  pera1-editable pera1-removable font-size-16px">後継者育成・事業継続支援</h3>
                            <div class="pera1-removable salon-card-txt-bdr pera1-removable">
                            <div class="e_txt font-size-14px pera1-editable">打合せを繰り返し、事業の将来についてパートナーとして後継者育成・事業継続を支援します。</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    
                    
                    </div>
                </div>
                </div>
                <div class="pera1-section section salon-s_catch" data-section-id="accountingfirm/s_accountingfirm_sectiontitle_bg" data-section-name="セクションタイトル（背景画像）" id="section-21" data-optional-block-settings-key="11">
        <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" );="" background-repeat:="" no-repeat;="" background-position:="" center="" center;="" background-size:="" cover;="); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="4" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg')">
            <div class="salon-gradient_mask">
            <div class="container-fluid salon-catch">
                <div class="row">
                <div class="col-xs-12">
                    <div class="pera1-removable">
                    <div class="e_txt pera1-editable font-size-32px"><div>セミナー情報<br>（令和８年初春 開催予定）</div></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div><div class="pera1-section section salon-s_catch" data-section-id="accountingfirm/s_accountingfirm_sectiontitle_bg" data-section-name="セクションタイトル（背景画像）" id="section-13" data-optional-block-settings-key="12">
                <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" );="" background-repeat:="" no-repeat;="" background-position:="" center="" center;="" background-size:="" cover;="" data-bg-key="5" data-bg="url('//cdn.peraichi.com/userData/58880ac4-969c-4abd-a9ff-708b0a0000c2/img/5d352a4c776a1/original.jpg')">
                    <div class="salon-gradient_mask">
                    <div class="container-fluid salon-catch">
                        <div class="row">
                        <div class="col-xs-12">
                            <div class="pera1-removable">
                            <div class="e_txt pera1-editable font-size-32px">ご契約までの流れ</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="section s_flow pera1-section" data-section-id="accountingfirm/s_accountingfirm_flow" data-section-name="フロー" id="section-14" data-optional-block-settings-key="13">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="m_flow pera1-removable pera1-multiple" data-elem-name="flow">
                        <div class="flow_ctt">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/flow_1.jpg"></div>
                            <div class="flow_stepHead">
                            <h3 class="flow_stepHead_step pera1-editable pera1-removable font-size-14px mt-20px ml-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">STEP</span></h3>
                            <h3 class="flow_stepHead_no pera1-editable pera1-removable font-size-20px">1</h3>
                            <h3 class="flow_stepHead_head pera1-editable pera1-removable font-size-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">お問い合わせ</span></h3>
                            </div>
                            <div class="e_txt pera1-editable pera1-removable font-size-16px">まずはお気軽にお問い合わせください。ご面談の後、ご依頼の内容・業務によりお見積いたします。打合せ・講演などにより電話に出れない場合がございますが、必ずコール・バックいたします。お名前・電話番号・ご用件を簡単に留守番電話に残していただけるようお願い致します。（メールでの問い合わせも受け付けております）</div>
                        </div>
                        </div>
                        <div class="m_flow pera1-removable" data-elem-name="flow">
                        <div class="flow_ctt">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/flow_2.jpg"></div>
                            <div class="flow_stepHead">
                            <h3 class="flow_stepHead_step pera1-editable pera1-removable font-size-14px mt-20px ml-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">STEP</span></h3>
                            <h3 class="flow_stepHead_no pera1-editable pera1-removable font-size-20px">2</h3>
                            <h3 class="flow_stepHead_head pera1-editable pera1-removable font-size-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">ご面談</span></h3>
                            </div>
                            <div class="e_txt pera1-editable pera1-removable font-size-16px">ご面談にて、ご相談内容の詳細をお伺いします。お一人お一人、各社各様のご提案がございます。丁寧にヒアリングさせていただき、場合により現場の確認、担当者様とのお打合せを行い、貴社の売上、組織づくりに貢献させていただきます。</div>
                        </div>
                        </div>
                        <div class="m_flow pera1-removable" data-elem-name="flow">
                        <div class="flow_ctt">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/flow_3.jpg"></div>
                            <div class="flow_stepHead">
                            <h3 class="flow_stepHead_step pera1-editable pera1-removable font-size-14px mt-20px ml-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">STEP</span></h3>
                            <h3 class="flow_stepHead_no pera1-editable pera1-removable font-size-20px">3</h3>
                            <h3 class="flow_stepHead_head pera1-editable pera1-removable font-size-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">ご提案・お見積り</span></h3>
                            </div>
                            <div class="e_txt pera1-editable pera1-removable font-size-16px">お客様に合わせたサービスをご提案します。お打合せでご提案した内容で、当日お見積もりを提示させていただきます。また、お打合せから３日以内にメールにて、書面データでお見積りをお送りさせていただきます。</div>
                        </div>
                        </div>
                        <div class="m_flow pera1-removable" data-elem-name="flow">
                        <div class="flow_ctt">
                            <div class="e_img pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_files/accountingfirm/img/flow_4.jpg"></div>
                            <div class="flow_stepHead">
                            <h3 class="flow_stepHead_step pera1-editable pera1-removable font-size-14px mt-20px ml-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">STEP</span></h3>
                            <h3 class="flow_stepHead_no pera1-editable pera1-removable font-size-20px">4</h3>
                            <h3 class="flow_stepHead_head pera1-editable pera1-removable font-size-20px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">ご契約</span></h3>
                            </div>
                            <div class="e_txt pera1-editable pera1-removable font-size-16px">ご提案内容にご満足いただけましたらご契約となります。全力で業務に取り組みます。お客様とともに、未来の貴社の発展に貢献いたします。ご連絡は、随時、お電話とメールでさせていただきます。よろしくお願い致します。</div>
                        </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                </div>
                <div class="pera1-section section padding_tb0 salon-s_btnbar-gradient" data-section-id="accountingfirm/s_accountingfirm_btn_background" data-section-name="ボタン（背景画像）" id="section-15" data-optional-block-settings-key="14">
                <div class="pera1-bg-editable lazyloaded" style="background-image: url(&quot;//cdn.peraichi.com/template_files/accountingfirm/img/bar_bg.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="6" data-bg="url('//cdn.peraichi.com/template_files/accountingfirm/img/bar_bg.jpg')">
                    <div class="salon-gradient_mask">
                    <div class="container-fluid salon-btnbar">
                        <div class="row">
                        <div class="col-xs-12">
                            <div class="e_txt pera1-editable pera1-removable font-size-36px"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><strong>お問い合わせ</strong></span><br><strong><span style="color: rgb(255, 255, 255);">tel 090-5124-3020</span></strong></div>
                            <div class="e_btn"><a class="btn pera1-editable pera1-removable" href="#section-9" target="_self">年中無休</a></div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="s_faq section pera1-section" data-section-id="accountingfirm/s_accountingfirm_faq" data-section-name="FAQ" id="section-16" data-optional-block-settings-key="15">
                <div class="container-fluid">
                    <div class="row">
                    <h2 class="e_head text-center pera1-editable pera1-removable font-size-24px">よくある質問</h2>
                    <div class="col-sm-12">
                        <div class="m_faq pera1-removable pera1-multiple" data-elem-name="faq">
                        <div class="faq_q">
                            <div class="e_head">Q</div>
                            <div class="e_txt pera1-editable font-size-18px"><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">初回の相談のみでも料金はかかりますか？</span></div>
                        </div>
                        <div class="faq_a">
                            <div class="e_head">A</div>
                            <div class="e_txt pera1-editable font-size-18px"><div>2025年10月1日からの「初回訪問お打ち合わせ・ご相談キャンペーン」は無料です。<br>ご希望のご相談内容等とのミスマッチがないよう、丁寧にお聞きします。また、具体的な対策についてもご案内いたします。どうぞお気軽にお電話・メールで一度お問い合わせください。</div></div>
                        </div>
                        </div>
                        <div class="m_faq pera1-removable" data-elem-name="faq">
                        <div class="faq_q">
                            <div class="e_head">Q</div>
                            <div class="e_txt pera1-editable font-size-18px"><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">セミナー・講演のみでも大丈夫ですか？</span></div>
                        </div>
                        <div class="faq_a">
                            <div class="e_head">A</div>
                            <div class="e_txt pera1-editable font-size-18px">セミナー・講演のご相談にも喜んで対応させていただきます。お客様のご要望に合わせた内容で講演致します。</div>
                        </div>
                        </div><div class="m_faq pera1-removable" data-elem-name="faq">
                        <div class="faq_q">
                            <div class="e_head">Q</div>
                            <div class="e_txt pera1-editable font-size-18px"><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">契約前の打合せ・商談でも料金はかかりますか？</span></div>
                        </div>
                        <div class="faq_a">
                            <div class="e_head">A</div>
                            <div class="e_txt pera1-editable font-size-18px">基本、初回は無料でお伺いいたします。どうぞお気軽にお問い合わせください。</div>
                        </div>
                        </div><div class="m_faq pera1-removable" data-elem-name="faq">
                        <div class="faq_q">
                            <div class="e_head">Q</div>
                            <div class="e_txt pera1-editable font-size-18px"><u>専門的な相談（労働問題、法律問題、節税対策など）は可能ですか？<br></u></div>
                        </div>
                        <div class="faq_a">
                            <div class="e_head">A</div>
                            <div class="e_txt pera1-editable font-size-18px">現実に則した、理解・信頼のある専門士業とも連携していますので、ご相談は可能です。<br>個別の問題にきちんと対応した専門士業を探すのは、なかなか大変で、現在お付き合いのある士業の方から期待する支援がない、とお嘆きの経営者の方も多いのが事実です。</div>
                        </div>
                        </div><div class="m_faq pera1-removable" data-elem-name="faq">
                        <div class="faq_q">
                            <div class="e_head">Q</div>
                            <div class="e_txt pera1-editable font-size-18px"><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">料金はいくらぐらいが相場ですか？</span></div>
                        </div>
                        <div class="faq_a">
                            <div class="e_head">A</div>
                            <div class="e_txt pera1-editable font-size-18px">ご提案する内容により料金は変わりますが、訪問打合せ・研修など（１回／月）加えて、リモートや電話・メールやLINEなども使い、こまめに進捗確認・ご相談で10万円（税別・交通費相談）、セミナー・講演会は１回10万円前後（税別・交通費別）です。詳細は誠意をもって、お打合せの上、お見積もりさせていただきます。</div>
                        </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                </div>
                
                
            <div class="pera1-section section s_footer-peraichi" data-section-id="branding-s_footer" data-section-name="フッター" id="section-19" data-optional-block-settings-key="16">
            <div class="container-fluid">
                <div class="salon-social">
                
                <div class="salon-social-item pera1-removable"><a href="" target="_self"><img class="img-full pera1-editable" src="//cdn.peraichi.com/template_files/library/sns_icons/002-fb-org-white/original.png"></a></div>
                <div class="salon-social-item pera1-removable"><a href="" target="_self"><img class="img-full pera1-editable" src="//cdn.peraichi.com/template_files/library/sns_icons/007-twitter-org-blue/original.png"></a></div>
                <div class="salon-social-item pera1-removable"><a href="" target="_self"><img class="img-full pera1-editable" src="//cdn.peraichi.com/template_files/library/sns_icons/021-instabram-sq-bgmulti/original.png"></a></div>
                <div class="e_txt font-size-14px pera1-editable">Copyright 2017 青山ビジネスパートナーズ合同会社</div>
                </div>
            </div>
            </div>
        <!-- <script id="tmpl_nav" type="text/x-template">
                <ul class="nav nav-pills nav-stacked">
                <% _.each(sections, function(section) { %>
                <li><a href="#<%= section.id %>"><%= section.name %></a></li>
                <% }) %>
                </ul>
                </script>
        <script id="template_html" type="text/x-template"></script>
        <div id="dataGaId" data-id="UA-127465303-1" style="display: none;"></div>
        <div id="dataLpDomain" data-domain="peraichi.com" style="display: none;"></div>
        <script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=zG9wK0fyaEizYBQ"></script>
    </body> -->
</html>